.hover-effect {
    position: relative;
    padding-bottom: 5px; 
}

.hover-effect::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px; 
    bottom: 0;
    left: 50%;
    background-color: #FFD700; 
    transition: width 0.3s ease-out, left 0.3s ease-out;
}

.hover-effect:hover::after,
.hover-effect:focus::after {
    width: 100%;
    left: 0;
}

.transition-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.transition-hover:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important; 
}